.FeedContainer {
  height: 100%;
  width: 100%;
  padding: 10px;
  padding-top: 5px;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  opacity: 1;
  pointer-events: auto;
  transition: all .25s ease-in-out;

  &--hide {
    opacity: 0.4;
    pointer-events: none;
    transition: all .25s ease-in-out;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
  }

  &--title {
    font-size: 20px;
    font-weight: bold;
  }

  &--active {
    color:#08FF00;
  }

  &--request-num {
    margin-left: auto;
  }

  &--activity-container {
    margin-top: 5px;
    flex: 1;
    box-sizing: border-box;
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .FeedContainer {
      padding-top: 10px;
    }
  }

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .FeedContainer {
      padding-top: 10px;
    }
  }

@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .FeedContainer {
    padding-top: 2px;
  }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .FeedContainer {
      padding-top: 2px;
    }
  }
