.FeedContainer {
  height: 100%;
  width: 100%;
  padding: 10px;
  padding-top: 0;
  box-sizing: border-box;

  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 30px;
  }

  &--title {
    font-size: 20px;
    font-weight: bold;
  }

  &--active {
    color:#08FF00;
  }

  &--request-num {
    margin-left: auto;
  }
}
