.EventWrapper {
  display: flex;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10px;

  &--disable {
    opacity: .2;
    pointer-events: none;
  }

  &__address-container {
    display: flex;
    flex: 1;
    align-items: center;
    flex-direction: column;
    text-transform: capitalize;
  }

  &--address {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    min-height: 50px;
  }

  &--city {
    margin: 10px 0;
  }

  &__icon-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1em;
  }

  &--started {
    color: #08FF00;
  }

  &--headset-icon {
    font-size: 60px !important;
  }

  &--action {
    color: white !important;
    width: 100%;
    opacity: 1 !important;
  }

  &--disable-button {
    pointer-events: none;
    opacity: 0.2;
    background: #555 !important;
  }

  &__event {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    h3 {
      text-transform: capitalize;
    }
  }
  
  
  &--icon {
    background: transparent no-repeat center center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: 100% 100%;
    background-color: gray;
    font-size: 34px;
    // color: #FF8800;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &--activated-color {
    color: #08FF00 !important;
  }

  &--requests {
    text-align: center;
    width: 100%;
    font-size: 14px;
    margin-top: 10px;
  }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .EventWrapper {
    // padding-bottom: 10px;
    &--action {
      margin-bottom: 15px !important;
    }
  }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
  .EventWrapper {
    padding-bottom: 10px;
    &--action {
      margin-bottom: 15px !important;
    }
  }
}
