.NewEventWrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #2E3336;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: white;

    &__subheader {
        display: flex;
        justify-content: flex-start;
        height: 30px;
        padding: 5px 3px;
        align-items: center;
    }

    &--subtitle {
        margin-left: 8em;
    }

    &__container {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    &--icon {
        background: transparent no-repeat center center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-size: 100% 100%;
        background-color: #555;
        border: 2px solid white;
        box-sizing: border-box;
    }

    &__text {
        color: white;
        width: 80%;
        text-align: center !important;
    }

    &__form {
      width: 100px;
    }

    &__form-control {
        display: flex;
        justify-content: flex-end;
        width: 80%;
    }

    &__form-label {
        color: white !important;
        text-align: center;
        border: none;
    }

    &--underline {
        background: white;
        height: 1px;;
    }

    &__menu-item {
        color: orange !important;
    }

    &--tip-title {
        font-weight: 100;
        font-size: 20px;
        margin: 25px 0;
    }

    &--tip-text {
        color: white;
        width: 40%;
    }

    &--tip-container {
        display: flex;
        align-items: center;
        flex-direction: column;

        input {
            text-align: start !important;
        }
    }

    &--create {
        color: white !important;
        width: 100px;
        margin: 25px 0;
    }
 }

 @media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .NewEventWrapper {
        &--subtitle {
            margin-left: 6em;
        }

        &--icon {
            width: 45px;
            height: 45px;
        }

        &--tip-title {
            font-weight: 100;
            font-size: 18px;
            margin-bottom: 0;
        }

        &--tip-container {
            padding-bottom: 20px;
        }
    }

    .MuiFormControl-marginNormal-11, .MuiFormControl-marginNormal-126 {
        margin-top: 0 !important;
    }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .NewEventWrapper {
        &--subtitle {
            margin-left: 8em;
        }

        &--icon {
            width: 45px;
            height: 45px;
        }

        &--tip-title {
            font-weight: 100;
            font-size: 20px;
            margin-bottom: 0;
        }

        &--tip-container {
            padding-bottom: 20px;
        }
    }

    .MuiFormControl-marginNormal-11, .MuiFormControl-marginNormal-126 {
        margin-top: 0 !important;
    }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .NewEventWrapper {
        &--subtitle {
            margin-left: 8em;
        }

        &--icon {
            width: 60px;
            height: 60px;
            margin-bottom: 25px;
        }

        &--tip-title {
            margin-top: 50px;
        }
    }
}
