.PaymentModal {
  position: absolute;
  top: 0;
  opacity: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  pointer-events: none;
  background: transparent;
  display: flex;
  flex-direction: column;
  transition: all .25s ease-in-out;
  min-height: 0;
  
  &__main-container {
    background: black;
    max-width: 450px;
    // height: 45%;
    margin-top: 20%;
  }
  
  &--last-digits {
    font-size: 20px;
    text-align: center;
    font-style: italic;
  }

  &--visible {
    height: 100%;
    opacity:  1;
    z-index: 2;
    pointer-events: auto;
    transition: all .25s ease-in-out;
    align-items: center;
    // background: black;  
  }

  &--close-icon {
    font-size: 36px;
    text-align: right;
    padding-right: 25px;
    box-sizing: border-box;
    color: orange
  }

  &__container {
    display: flex;
    flex-direction: column;
    // align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    color: white;
  }

  &__options {
    display: flex;
    margin: 20px 0;
    justify-content: center;
  }


  &--title {
    font-size: 26px;
    font-weight: bold;
    margin: 0 auto;
  }

  &--applepay {
    background: transparent no-repeat center center;
    background-image: url("../../images/applePayCard.png");
    width: 100px;
    height: 75px;
    margin: auto 0;
    border-radius: 6px;
    margin-right: 4em;
    background-size: 100% 100%;
  }

  &--save {
    display: flex;
    margin: 10px;
    align-items: center;
  }

  &--default-text {
    // margin-left: px;
  }

  &--swith-track {
    background: white;
    color: white;
  }

  &--pay {
    padding-bottom: 20px;
    box-sizing: border-box;
    text-align: center;
  }

  &--selected-card {
    padding: 5px;
    box-sizing: border-box;
    border: 2px solid green;
  }
 }

 @media only screen
and (min-device-width: 320px)
and (max-device-width: 568px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  .PaymentModal {

    &__main-container {
      margin: 40%;
      width: 100%;
      // height: 50%;
    }

    &__container {
      padding: 5px 20px;
      box-sizing: border-box;
    }

    &__options {
      margin: 0;
      margin-top: 10px;
    }
  }
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) {
  .PaymentModal {

    &__main-container {
      margin: 40%;
      width: 90%;
      height: 50%;
    }

    &__container {
      padding: 5px 20px;
      box-sizing: border-box;
    }

    &__options {
      margin: 0;
      margin-top: 10px;
    }
  }
}


@media only screen
and (min-device-width: 375px)
and (max-device-width: 812px)
and (-webkit-min-device-pixel-ratio: 3) {
  .PaymentModal {
    // &--visible {
    //   height: 45%;
    // }
    &__main-container {
      margin: 40%;
      width: 90%;
      height: 50%;;
    }

    &--title {
      margin: 10px auto;
    }

    &__container {
      padding: 10px 20px;
      box-sizing: border-box;
    }

    &__options {
      margin: 0;
      margin-top: 10px;
    }
  }
}