.FeedPage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #2E3336;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: white;

    &__subheader {
        display: flex;
        justify-content: flex-start;
        height: 30px;
        padding: 5px 3px;
        align-items: center;
    }

    &--subtitle {
        margin-left: 7em;
        font-weight: bold;
        font-size: 20px;
        margin-right: auto;
    }

    &--request-num {
        margin-left: auto;
    }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .FeedPage {
      &--subtitle {
        margin-left: 5em;
      }
    }
  }

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .FeedPage {
      &--subtitle {
        margin-left: 7em;
      }
    }
  }

@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .FeedPage {
      &--subtitle {
        margin-left: 8em;
      }
    }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .FeedPage {
      &--subtitle {
        margin-left: 7em;
      }
    }
  }
