.FanEvent {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #2E3336;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: white;
  background-image: url("../../images/S-grey-fractal-bg.png");


  &--hide {
    opacity: 1;
    pointer-events: none;
    transition: all .25s ease-in-out;
  }

  &--hide-content {
    // opacity: 0;
    visibility:  hidden;
  }
  
  &__subheader {
    display: flex;
    justify-content: flex-start;
    height: 30px;
    padding: 5px 3px;
    align-items: center;
    color: #08FF00;
  }

  &--subtitle {
    margin-left: 4.5em;
    font-size: 24px;
    color: #08FF00;
    text-transform: capitalize;
    margin-left: auto;
    margin-right: auto;
  }

  &--attendees {
    margin-top: 10px;
    text-align: center;
  }

  &--dj-name {
    box-sizing: border-box;
    margin: 10px 0;
    font-size: 12px;
  }

  &--headset {
    height: 16px;
    z-index: 1;
    color: #08FF00;
    font-size: 30px !important;
  }

  &__icon-container {
    display: flex;
    flex-direction: column;
    height: 200px;
    align-items: center;
    width: 80px;
    box-sizing: border-box;
    justify-content: center;
  }

  &--dj-icon {
    background: transparent no-repeat center center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-size: 100% 100%;
    background-color: #555;
  }

  &__main-container {
    width: 100%;
    padding: 40px 20px 10px 20px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
  }

  &--time-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    max-width: 300px;
  }

  &--time {
    font-size: 24px;
    padding: 10px 0;
    font-weight: 500;
  }

  &--icon {
    text-align: center;
    background: transparent no-repeat center center;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-size: 100% 100%;
    background-color: #555;
    border: 2px solid #08FF00;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--requests {
    text-align: center;
    margin: 10px 0;
    box-sizing: border-box;
  }

  &--address {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
    padding:  0 15px;
    box-sizing: border-box;
  }

  &--join {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    box-sizing: border-box;
    padding-bottom: 20px;
  }

  &--join-button {
    color: white !important;
    border-radius: 8px !important;
    width: 80px !important;
  }
}


@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .FanEvent {
      &--join {
        padding-bottom: 20px;
      }

      &__main-container {
        width: 100%;
        padding: 40px 20px 10px 20px;
        display: flex;
        box-sizing: border-box;
        align-items: center;
      }

      &--dj-icon {
        background: transparent no-repeat center center;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        background-size: 100% 100%;
        background-color: #555;
      }

      &__icon-container {
        display: flex;
        flex-direction: column;
        height: 100px;
        align-items: center;
        width: 60px;
        box-sizing: border-box;
      }

      &--icon {
        text-align: center;
        background: transparent no-repeat center center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-size: 100% 100%;
        background-color: #555;
        border: 2px solid #08FF00;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .FanEvent {
      &--join {
        padding-bottom: 20px;
      }
    }
  }

@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .FanEvent {
      &--join {
        padding-bottom: 40px;
      }
    }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 812px)
  and (-webkit-min-device-pixel-ratio: 3) {
    .FanEvent {
      &--join {
        padding-bottom: 40px;
      }
    }
  }
