.SongRequest {
    height: 32px;
    border-bottom: 1px solid #555;
    display: flex;
    align-items: center;

    &__profile {
        background: transparent no-repeat center center;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        background-size: 100% 100%;
        background-color: red;
        // background-image: url("../../../images/ali-icon.png");

    }
}